
<% include ./partials/head %>

<div class="container">
        
    <h2 class="loading hidden">Checking your answers..</h2>
    
    <% include ./partials/form %>
    
</div>

<% include ./partials/foot %>

